.home {
  background: rgba(194, 197, 195, 0.151);
  height: 100%;
  min-height: 600px; 
  margin-top: 56px;
}

.Breadcrumbs {
  /* position: fixed; */
  margin-top: 5px;
  margin-left: 20px;
}

.BreadName {
  text-decoration: none;
  text-transform: capitalize;
  font-family: SamsungOneLatin, -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 14px;
  font-weight: 400!important;
  color: #636363;
}

/* .BreadName:hover {
  text-decoration: none;
  text-transform: uppercase;
  font-family: verdana;
  font-size: 1em;
  font-weight: 1000;
  color: #5b646dbe;
  text-shadow: 1px 1px 1px #919191,
    1px 2px 5px rgba(16,16,16,0.2),
    1px 3px 6px rgba(16,16,16,0.4);
} */

.Statusdialog::-webkit-scrollbar {
  display:none;
} 
 
.Pages {
  margin-top: 0px;
}

.Subtoolbar {
  margin-top: 3px;
  margin-bottom: 0px;
  /* background-color: rgba(213, 216, 214, 0.096); */
  height: 35px;
  position: relative;
}

.sidenav {
  position: relative;
  top: 2px;
  margin-left: 18px;
  float: left;
  margin-bottom: 0px;
}

/* .Treefiledialog {
  position: relative;
  top: 2px;
  margin-left: 10px;
  margin-bottom: 0px;
  float: left;
  height: 30px;
  text-transform: uppercase;
  padding: 0px 0px 0px 0px;
  font-size: 0.85em;
} */

.Addpagebutton {
  position: relative;
  top: 4px;
  margin-left: 20px;
  margin-bottom: 0px;
  float: left;
  height: 30px;
  text-transform: uppercase;
  padding: 0px 0px 0px 0px;
  font-size: 0.85em;
}

.Addpagebutton:hover {
  background-color: rgba(213, 216, 214, 0.836);
  cursor: pointer;
}

/* .Addpagebutton:active {
  background-color: rgb(248, 12, 12);
} */

.Subtoolbarplusicon {
  color: blue;
  font-size: 1.2em;
}

.Subtoolbarimporticon {
  color: blue;
}

.Dashboard {
  margin-top: 5px;
  margin-left: 18px;
}

.DashboardContainer {
  width: 99%;
  display: block;
  box-sizing: border-box;
  margin-bottom: 0px;
}

.Parametersdialog {
  height: 250px;
  width: 450px;
}

.Parametername {
  text-align: left;
  margin-right: 1px;
  margin-top: 35px;
  text-decoration: none;
  text-transform: none;
  font-family: verdana;
  font-size: 1em;
  font-weight: 1000;
  color: #101214;
}

.Parametervalue {
  text-decoration: none;
  text-transform: none;
  font-family: verdana;
  font-size: 1em;
  font-weight: 1000;
  color: #ee6e05be;
}
/* 
.Button {
  height: 10;
  width: 30;
  padding: '0px 5px 0px 5px';
} */

/* .Layout {
    background: rgba(194, 197, 195, 0.151);
    height: 100%;
} */

/* .my-active {
  text-decoration: none;
} */
/* .BreadName {
  color: purple;
  text-decoration: none;
}

.BreadName:hover {
  color: black;
  text-decoration: none;
}
slice(page * rowsPerPage, page * rowsPerPage + rowsPerPage) 
*/