#dropdown-basic-button,
#dropdown-basic-button:hover,
#dropdown-basic-button:active,
#dropdown-basic-button:focus {
    background-color: rgba(194, 197, 195, 0.027);
    color: black;
    box-shadow: none;
}