.Addmodeldialog {
  height: 520px;
  width: 500px;
}

.Addproblemdialog {
  height: 500px;
  width: 100%;
}

.helperText {
  font-size: 0.50em;
  color: red;
  margin-top: -10px;
}

.toolbar {
    position: fixed;
    z-index:999;
    top: 0;
    left: 0;
    width: 100%;
    background: #3f51b5;
    height: 56px;
    /* box-shadow: 5px 5px 2px #888888; */
  }
  
  .toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
  }
  
  .toolbar__logo {
    margin-left: 1rem;
  }
  
  .toolbar__logo {
    color: white;
    text-decoration: none;
    font-style: italic;
    font-variant: traditional;
    font-weight: 300;
    font-size: larger;  
  }
  
  .spacer {
    flex: 1;
  }
  
  .toolbar_navigation_items {
    list-style: none;
    margin: 0px;
    padding: 0;
    display: flex;
  }
  
  /* .toolbar_navigation-items {
    padding: 0 0.5rem;
  }
  
  .toolbar_navigation-items a {
    color: white;
    text-decoration: none;
  } */
  
  .toolbar_navigation_items a:hover,
  .toolbar_navigation_items a:active {
    color: #fa923f;
  }
  
  /* @media (max-width: 768px) {
    .toolbar_navigation-items {
      display: none;
    }
  } */
  
/*  @media (min-width: 769px) {
    .toolbar__toggle-button {
      display: none;
    }
  
    .toolbar__logo {
      margin-left: 0;
    }
  }*/
  